@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #896978;
    background-color: #FAE3E3;
}

/* logo styling */

#top-logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    text-transform: uppercase;
}

/* nav bar styling */

#nav-menu, #top-logo {
    line-height: 75px;
}

#nav-menu li {  
    float: right;
    list-style-type: none;
    margin-right: 30px; 
}

#nav-menu a {
    color: inherit;
    text-decoration: none;
}


.active {
    border-bottom: 1px solid #896978;
}

/* div style placeholder */

#main-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: pink;
    clear: both;
    
}

/* images from https://pxhere.com/en/photo/490713 */

#hero-image {
    background: url('../images/fruit-berry-food-produce-ear-dessert-490713-pxhere.com\ \(1\).jpg')no-repeat center center;
    height: 400px;
    width: 100%;
}

/* why us section */

.section_one_heading {
    font-size: 2.1rem;
    text-align: center;
    margin: 20px 0 20px 0;
}

.why-paragraph {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 100px 0 100px;
}
#why-us {
    height: 370px;
}

/* Article section */

.events-list {
    padding: 20px;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    
}

.events-list li {
    list-style-type: none;
}


/* third section with pictures */

/* images from https://www.pexels.com/ */

.left {
    border-radius: 0 10px 10px 0;
    padding-top: 30px;
    width: 33%;
    height: 350px;
    float: left;
    background: url('../images/finish-cake.jpg')no-repeat center center;

    animation-name: pictures-left;
    animation-duration: 8s;
}

.right {
    border-radius: 10px 0 0 10px;
    padding-top: 30px;
    width: 33%;
    height: 350px;
    float: right;
    background: url('../images')no-repeat center center;

    animation-name: pictures-right;
    animation-duration: 6s;
}

.center {
    border-radius: 10px;
    width: 30%;
    height: 380px;
    margin: 0 auto;
    background: url('../images/pexels-roman-odintsov-5897459.jpg')no-repeat center center;

    animation-name: pictures-center;
    animation-duration: 8s;
}

@keyframes pictures-center {
    from {background: url('../images/pexels-roman-odintsov-5897459.jpg')no-repeat center center;}
    to {background: url('../images/pexels-dhaya-eddine-bentaleb-5276663.jpg')no-repeat center center;}
  }

@keyframes pictures-left {
    from {background: url('../images/cake-start.jpg')no-repeat center center}
    to {background: url('../images/cake-decoration.jpg')no-repeat center center;}
  }

@keyframes pictures-right {
    from {background: url('../images/pexels-dhaya-eddine-bentaleb-5276663.jpg')no-repeat center center;}
    to {background: url('../images/cake_slice.jpg')no-repeat center center;}
  }

  /* Form page contact us */

/* .form-section {
    clear: left;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
} */

.signup-form {
    margin: 30px auto;
    color:#fff;
    background-color: rgba(206, 187, 187, 0.6);
    max-width: 600px; 
    padding: 30px;
}

.signup-form > h2 {
   color: #fafafa;
   margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width:100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#896978;
    color: #fafafa;
    display: block;
    
}

.join-button:hover {
    background-color: #fafafa;
    color: #896978;
}


/* Footer styles */
/* social icons from font awesome */

footer {
    width: 100%;
    height: 80px;
    background-color: #FAE3E3;
    clear: both;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #896978;
}

