@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #896978;
    background-color: #FAE3E3;
}

/* logo styling */

#top-logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    text-transform: uppercase;
}

/* nav bar styling */

#nav-menu, #top-logo {
    line-height: 75px;
}

#nav-menu li {  
    float: right;
    list-style-type: none;
    margin-right: 30px; 
}

#nav-menu a {
    color: inherit;
    text-decoration: none;
}

/* #nav-menu li a:hover {
    border-bottom: 1px solid #896978;
} */

.active {
    border-bottom: 1px solid #896978;
}

/* div style placeholder */

#main-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: pink;
    clear: both;
    
}

/* images from https://pxhere.com/en/photo/490713 */

#hero-image {
    background: url('../images/fruit-berry-food-produce-ear-dessert-490713-pxhere.com\ \(1\).jpg')no-repeat center center;
    height: 400px;
    width: 100%;
}

/* why us section */

#why-us {
    height: 400px;
}

.left {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: red;
}

.right {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: blue;
}

.center {
    margin: 0 auto;
    background-color: yellow;
}

/* Footer styles */

footer {
    width: 100%;
    height: 80px;
    background-color: pink;
}